.wrapper {
  display: flex;
  padding: 0 5px 0 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  justify-content: center;
  gap: 20%;
}

button {
  background-color: white;
  border: none;
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
}

:disabled {
  cursor: auto;
}
