# FEATURE coverage-enforcement: This configuration property makes sure that Lombok generates annotations for
# generated code, so that it is not taken into account for the calculation of test coverage.
lombok.addLombokGeneratedAnnotation = true

# see https://projectlombok.org/features/configuration for details
config.stopBubbling = true

# see https://projectlombok.org/features/GetterSetter for details
lombok.accessors.fluent = false
