:host {
  display: flex;
}

button {
  border: none;
  background: white;
  color: gray;
  font-weight: bold;
  font-size: large;
  margin-left: auto;
  margin-right: 50px;
}

button:hover {
  cursor: pointer;
}
