@import "~bootstrap/scss/bootstrap";

.cart {
  cursor: pointer;
  margin-right: 5px;
}

.cart_icon {
  display: block;
  position: relative;
}

.cart_count {
  position: absolute;
  bottom: -1px;
  right: -14px;
  width: 23px;
  height: 23px;
  background: $primary;
  border-radius: 50%;
  text-align: center
}

.cart_count span {
  display: block;
  line-height: 23px;
  font-size: 12px;
  color: $white;
  transform: translateY(1px)
}

.cart_icon img {
  width: 100%
}

.cart_content {
  margin-left: 20px
}

.cart_price {
  font-size: 14px;
  color: $white;
  margin-top: -2px
}
