<div class="py-5 text-center">
  <h2>Order details</h2>
</div>

<div class="row justify-content-start">
  <div>Order Number: <span class="fw-bold"> {{ (order$ | async).orderNumber }}</span></div>
  <div>Order Status: <span class="fw-bold"> {{ (order$ | async).status }}</span></div>
  <div>OrderL <span class="fw-bold"> {{ (order$ | async).description }}</span></div>
  <div>OrderL <span class="fw-bold"> {{ (order$ | async).date | date : 'yyyy/MM/dd hh:mm:ss' }}</span></div>
</div>

<hr class="my-4">

<h4 class="mb-3">Payment</h4>

<ul class="list-group mb-3">
  <li
    *ngFor="let orderItem of (order$ | async).orderItems"
    class="list-group-item d-flex justify-content-between lh-sm">
    <div class="d-flex align-items-center">
      <es-image [name]="orderItem.pictureUrl" size="small"></es-image>
      <h6 class="p-1 my-0">{{ orderItem.productName }}</h6>
    </div>
    <span class="text-muted">
        {{ orderItem.units }} X {{ orderItem.unitPrice | number:'.2-2' }} =
      {{ (orderItem.units * orderItem.unitPrice) | number:'.2-2' }}
      </span>
  </li>
  <li class="list-group-item d-flex justify-content-between">
    <span>Total</span>
    <strong>{{ (order$ | async).total | number:'.2-2' }}</strong>
  </li>
</ul>

